@page
@model AirbnbWebApp.Pages.bill.EditModel
@{
}
<body style=" background-color:#C8998F">
<br>
<h2>Edit Airbnb</h2>
@*
    Checking for error message
*@

@if (@Model.errorMessage.Length > 0)
{
    <div>@Model.errorMessage</div>
}

@*
    Creating a form to Edit details of a particular Airbnb
*@

<form method="POST">
    <input type="hidden" name="id" value="@Model.bill.Id" />
    <table>
        <tr>
            <td>Name</td>
                <td><input type="text" name="name" value="@Model.bill.name" required></td>
        </tr>
        <tr>
            <td>Host Id</td>
            <td><input type="text" name="host_id" value="@Model.bill.host_id" required></td>
        </tr>
        <tr>
            <td>Host Name</td>
            <td><input type="text" name="host_name" value="@Model.bill.host_name"></td>
        </tr>
        <tr>
            <td>Neighbourhood Group</td>
            <td><input type="text" name="neighbourhood_group" value="@Model.bill.neighbourhood_group"></td>
        </tr>
        <tr>
            <td>Neighbourhood</td>
            <td><input type="text" name="neighbourhood" value="@Model.bill.neighbourhood"></td>
        </tr>
        <tr>
            <td>Roomtype</td>
            <td><input type="text" name="roomtype" value="@Model.bill.roomtype"></td>
        </tr>
        <tr>
            <td>Price</td>
                <td><input type="text"  name="price" value="@Model.bill.price"></td>
        </tr>
        <tr>
            <td>Minimum Nights</td>
            <td><input type="text" name="minimum_nights" value="@Model.bill.minimum_nights"></td>
        </tr>
        <tr>
            <td>Number of Reviews</td>
            <td><input type="text" name="number_of_reviews" value="@Model.bill.number_of_reviews"></td>
        </tr>
        <tr>
            <td>Reviews per month</td>
            <td><input type="text" name="reviews_per_month" value="@Model.bill.reviews_per_month"></td>
        </tr>
        <tr>
            <td>Availability 365</td>
            <td><input type="text" name="availability_365" value="@Model.bill.availability_365"></td>
        </tr>
        <tr>
            <td>Reviews</td>
            <td><input type="text" name="reviews" value="@Model.bill.reviews"></td>
        </tr>
        <tr>
            <td>Max People</td>
            <td><input type="text" name="max_people" value="@Model.bill.max_people"></td>
        </tr>
        <tr>
            <td>Children Amenities</td>
            <td><input type="text" name="children_amenities" value="@Model.bill.children_amenities"></td>
        </tr>
    </table>
    <p></p>

    @if (@Model.successMessage.Length > 0)
    {
        <div>@Model.successMessage</div>
    }

    <input type="submit" value="Edit" class="btn btn-primary" />
</form>
</body>