@page
@model AirbnbWebApp.Pages.bill.IndexModel
@{
}
@*<style>
    body{
        background-image: url('Airbnb background.jpeg');
    }
</style>*@
<body style=" background-color:#C8998F">
<br>
<h2>List of Airbnb</h2>

@*
    buttons for create and data analysis
*@
<a class='btn btn-primary btn-sm' href='/bill/Create'>New Airbnb </a>


@*
    table displaying all the Airbnb List along with edit and delete option
*@
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>name</th>
            <th>Host Id</th>
            <th>Host Name</th>
            <th>Neighbourhood Group</th>
            <th>Neighbourhood</th>
            <th>roomtype</th>
            <th>price</th>
            <th>Minimum Nights</th>
            <th>Number of Reviews</th>
            <th>Reviews per Month</th>
            <th>Availability 365</th>
            <th>Reviews</th>
            <th>Max People</th>
            <th>Children Amenities</th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.bill)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.name</td>
                <td>@item.host_id</td>
                <td>@item.host_name</td>
                <td>@item.neighbourhood_group</td>
                <td>@item.neighbourhood</td>
                <td>@item.roomtype</td>
                <td>@item.price</td>
                <td>@item.minimum_nights</td>
                <td>@item.number_of_reviews</td>
                <td>@item.reviews_per_month</td>
                <td>@item.availability_365</td>
                <td>@item.reviews</td>
                <td>@item.max_people</td>
                <td>@item.children_amenities</td>



                <td>
                    <a class="btn btn-primary btn-sm" href="/bill/Edit?id=@item.Id">Edit</a>
                    <a class="btn-danger btn-sm" href="/bill/Delete?id=@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br>
<br>


</body>