@page
@model WebApp.Pages.Bills.DeleteModel
@{
}

<br />
<h2>Delete the bills</h2>

@if (Model.errorMessage.Length > 0)
{
    <div>@Model.errorMessage</div>
}
<form method="POST">
    <input type="hidden" name="Id" value="@Model.bill.Id" />
    <table>
        <tr>
            <td>Id</td>
            <td>@Model.bill.Id</td>
        </tr>
        <tr>
            <td>Category</td>
            <td>@Model.bill.Category</td>
        </tr>
        <tr>
            <td>Amount</td>
            <td>@Model.bill.Amount</td>
        </tr>
        <tr>
            <td>Date</td>
            <td>@Model.bill.Date</td>
        </tr>
    </table>
    <p></p>
    <input type="submit" value="Delete" class="btn btn-primary" />
</form>